/* @import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap'); */

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    background-color: #14202E !important;
    color: white !important;
    font-weight: 300;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

header {
    width: 100%;
}

.cover-bg {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: first baseline;
}

.hero-image {
    padding-top: 30px;
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-width: fit-content;
}

.logo {
    font-size: 28px;
    font-weight: 700;
    color: white;
}

.hamburger-menu {
    display: none;
}

/* 
.menu-div {
    background-color: transparent;
}

.nav-bar {
    background: transparent;
} */

.nav-bar ul {
    display: flex;
    padding-left: 0px;
}

.nav-bar ul li a {
    display: block;
    color: white;
    font-size: 20px;
    padding: 10px 25px;
    border-radius: 50px;
    transition: 0.2s;
    margin: 0 5px;
    text-transform: uppercase;
    text-decoration: none;
}

.nav-bar ul li a:hover {
    color: gold !important;
}

.text {
    width: 100%;
    overflow: hidden;
}

.text p {
    text-align: center;
    font-size: 20px;
    margin-top: 10px;
    font-weight: 200;
    color: rgba(255, 255, 255, 0.735);
}

.text h1 {
    font-size: 80px;
    color: white;
    text-align: center;
    margin-top: 300px;
    font-weight: 100;

}

#name {
    font-weight: 800;
    color: #fff;
}

.featured-portfolio-section {
    /* background-color: gray; */
    padding: 5em 0 0 0;
    margin-bottom: 280px;

}

.featured-portfolio-section-title {
    color: rgb(255, 255, 255);
    text-align: center;
    font-weight: 100;
    margin-bottom: 30px;
}

.text-portfolio {
    font-weight: bold;
}

.featured-portfolio-menu li {
    text-transform: capitalize;
}

.featured-portfolio-menu li:hover {
    color: gold;
}

.photo {
    min-height: 350px;
    width: 360px;
}

/* .my-resume-section {
    background-color: rgb(217, 205, 205);
    padding: 0px 150px 0 150px;
    color: white;
} */

.my-resume-section h3 {
    font-weight: 100;
}

.my-resume-section h3 strong {
    font-weight: bold;
}

.resume-item {
    background-color: #2D4356;
    color: thistle;
    /* border: 4px solid transparent; */
    border-radius: 7px;
    transition: 0.3 all ease;
}

.resume-item-title {
    color: #bac964;
}

.icon {
    margin-right: 10px;
}

.about-me-img {
    width: 100%;
    height: auto;
    border-radius: 15px;
}

.about-me-div-heading {
    font-weight: 100;
}

.about-me-div p {
    color: thistle;
}

.button-one {
    border-radius: 100px;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: .2rem;
    color: white;
    padding: 10px 15px;
    /* margin-right: 10px; */
}

.button-two {
    border-radius: 100px;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: .2rem;
    /* color: white; */
    padding: 10px 15px;
    color: #fffdfd;
    background-color: #493548;
}

.client-testimonial {
    background-color: #49354879;
    padding: 2px;
}

.client-testimonial h2 {
    font-weight: 100;
}

.client-testimonial h2 strong {
    font-weight: 700;
}

.client-icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.testimonial-div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.testimonial {
    border-radius: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    padding: 30px;
    margin-bottom: 30px;
    position: relative;
    color: thistle;
    background-color: #493548;
}

.testimonial::after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-top: 15px solid #493548;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    top: 30px;
    left: -15px;
}

.testimonial::before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-top: 17px solid #493548;
    border-left: 16px solid transparent;
    border-right: 16px solid transparent;
    top: 30px;
    left: -17px;
}

.my-section-section h2 {
    font-weight: 100;
}

.my-resume-section h2 strong {
    font-weight: 700;
}

.service-section-icon {
    width: 100px;
    height: 100px;
    border-radius: 10%;
    padding: 2px;
}

.my-service-section-div {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    /* padding: 0px; */
}

.service-section-item {
    background-color: #49354879;
    color: thistle;
    height: 420px;
}

/* .service-section-item2 {
    background-color: #49354879;
    color: thistle;
    height: 400px;
} */

.service-section-item p {
    text-align: justify;
}

.service-section-item a {
    /* background-color: #14202E; */
    /* text-decoration: none; */
    /* color: yellow; */
    padding: 5px;
    text-decoration-line: none;

}

@media screen and (min-width: 1281px) {
    .cover {
        width: 100%;
    }

    .img-1-div {
        position: absolute;
    }

    .img-2-div {
        position: relative;
        top: 150px;
        left: -24px;
    }

    .about-me-div {
        padding-left: 3rem !important;
    }

    .education-div {
        margin: .5rem 0 0 0 !important
    }

    .experience-div {
        margin: .5rem 0 0 0 !important;
    }

    /* .my-service-section-div {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 50px;
        padding: 5px;
    } */
}

@media screen and (min-width: 1200px) and (max-width:1280) {
    .cover {
        width: 100%;
    }

    .img-1-div {
        position: absolute;
    }

    .img-2-div {
        position: relative;
        top: 150px;
        left: 0px;
    }

    .about-me-div {
        padding-left: 3rem !important;
        text-align: center;
    }

    .education-div {
        margin: .5rem 0 0 0 !important
    }

    .experience-div {
        margin: .5rem 0 0 0 !important;
    }

    .my-service-section-div {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        /* gap: 50px; */
        /* padding: 5px; */
    }
}

@media screen and (min-width: 601px) and (max-width:1199px) {
    .cover {
        padding: 0 30px;
    }

    .header {
        height: 100%;
    }

    .hero-image {
        height: 100%;
    }

    .text h1 {
        margin-top: 200px;
    }

    .img-1-div {
        position: static;
    }

    .photo {
        width: 100%;
        /* gap: 0; */
    }

    .image-section {
        gap: 0;
    }

    .img-2-div {
        position: static;
        /* top: 150px;
        left: -18px; */
    }

    .about-me-div {
        padding-left: 3rem !important;
        text-align: center;
    }

    .education-div {
        margin: .5rem 0 0 0 !important
    }

    .experience-div {
        margin: .5rem 0 0 0 !important;
    }

    .my-service-section-div {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        /* gap: 50px; */
        /* padding: 5px; */
    }
}

@media screen and (min-width: 60px) and (max-width:600px) {
    /* body {
        padding: 3px;
    } */

    header {
        padding: 0;
    }

    .text h1 {
        margin-top: 0;
    }

    .logo {
        display: none;
    }

    .hamburger-menu {
        display: block;
        cursor: pointer;
    }

    .nav-bar ul {
        padding: 0;
    }

    .hamburger-menu .line {
        width: 30px;
        height: 3px;
        background: white;
        margin: 6px 0;
        text-align: center;
    }

    .nav-bar.active {
        height: 350px;
        margin-top: 30px;
    }

    .cover-bg {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: first baseline;
        /* background: transparent !important; */
    }

    .nav-bar {
        height: 0px;
        position: absolute;
        top: 50px;
        left: 0;
        right: 0;
        width: 100vw;
        background: #11101b;
        transition: 0.2s;
        overflow: hidden;
    }

    .nav-bar ul {
        display: block;
        width: fit-content;
        margin: 40px auto 0 auto;
        text-align: center;
        transition: 0.5s;
        opacity: o;
    }

    .nav-bar.active ul {
        opacity: 1;
    }

    .nav-bar ul li a {
        margin-bottom: 12px;
        /* color: red; */
    }

    .text h1 {
        font-size: 50px;
        color: white;
        text-align: center;
        /* position: sticky; */
        margin-top: 400px;
        font-weight: lighter;

    }

    .img-1-div {
        position: static;
        /* padding: 2px; */
    }

    .photo {
        height: 350px;
        width: 100%;
    }

    .img-2-div {
        position: static;
        /* padding: 2px; */
        top: 0;
        left: 0;
    }

    .featured-portfolio-section {
        margin: 100px;
    }

    .about-me-div {
        padding: 0 !important;
        text-align: center;
    }

    .about-me-div-heading {
        margin-top: 20px;
    }

    .about-me-section-p {
        text-align: justify;
    }

    .button-one {
        border-radius: 100px;
        text-transform: uppercase;
        font-size: 12px;
        letter-spacing: .2rem;
        color: white;
        padding: 10px 15px;
        /* margin-right: 10px;
        margin-bottom: 10px; */
    }

    .button-two {
        border-radius: 100px;
        text-transform: uppercase;
        font-size: 12px;
        letter-spacing: .2rem;
        /* color: white; */
        padding: 10px 15px;
        color: #fffdfd;
        background-color: #493548;
    }

    .experience-container {
        margin-top: 20px;
    }

    .education-div {
        margin: .5rem 0 0 0 !important
    }

    .experience-div {
        margin: .5rem 0 0 0 !important;
    }

    .testimonial-div {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .my-service-section-div {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

}

/* @media only screen and(max-width: 600px) {
    .hamburger-menu {
        display: block;
        cursor: pointer;
    }

    .hamburger-menu .line {
        width: 30px;
        height: 3px;
        background: white;
        margin: 6px 0;
    }

    .nav-bar.active {
        height: 450px;
    }

    .nav-bar {
        height: 450px;
        position: absolute;
        top: 80px;
        left: 0;
        right: 0;
        width: 100vw;
        background: #11101b;
        transition: 0.2s;
        overflow: hidden;
    }

    .nav-bar ul {
        display: block;
        width: fit-content;
        margin: 80px auto 0 auto;
        text-align: center;
        transition: 0.5s;
    }

    .nav-bar.active ul {
        opacity: 1;
    }

    .nav-bar ul li a {
        margin-bottom: 12px;
        color: red;
    }
} */